@{
    ViewData["Title"] = "Home Page";
}

<style>
    .container {
        margin-right: 30vw;
    }

    body {
        color: white;
        background-color: #478af5;
    }
    .imageboard{
        display:inline-block;
    }
    .img {
        padding: 1vh 1vw;
        width: 300px;
        height: 200px;
    }
    .para1{
        color:white;
        padding:1vh 1vw;
    }
    h1{
        font-weight:bold;
    }
</style>


<div class="para1">
    <h1>Welcome to the NBA Database</h1>
    <p>You can search for players and teams and find out the information about them you are looking for.</p>
</div>

<div class="imageboard">
    <img class="img" src="https://i.ytimg.com/vi/TwYTnXsAsoI/maxresdefault.jpg" />
    <img class="img" src="https://www.nba.com/images/cms/2019-11/giannis-windmill.jpg?cw=1920&w=1923&x=0&ch=1080&h=1090&y=10" />
    <img class="img" src="https://i.ytimg.com/vi/U3URvGHUlFA/maxresdefault.jpg" />
    <img class="img" src="https://theundefeated.com/wp-content/uploads/2019/12/AP_101206125847-e1577108917893.jpg?w=1024" />
    <img class="img" src="https://i.ytimg.com/vi/jOzGIsFQbqo/maxresdefault.jpg" />
    <img class="img" src="https://cdn.vox-cdn.com/thumbor/2T5cb4LJz38tUYe-OtfKc1KpHY0=/0x0:3841x2557/1200x800/filters:focal(1644x325:2258x939)/cdn.vox-cdn.com/uploads/chorus_image/image/63063843/usa_today_12177440.1550374742.jpg" />
</div>

<div class="para1">
    <p>
        The NBA has temporarily suspended the 2019-20 season in response to the coronavirus pandemic. 
        That decision was made to safeguard the health and well-being of NBA fans, players, team and arena personnel, media members and the general public. 
        Below is a compilation of the latest official news and reaction from the NBA community.
    </p>
</div>